n8n/slack-bot/workflow.json
{
  "name": "Scanner Slack Bot",
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "watchWorkspace": true,
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        944
      ],
      "id": "3db08c77-cd20-440c-a317-a15e5d75a448",
      "name": "Slack Trigger",
      "webhookId": "slack-bot-app-mention",
      "credentials": {
        "slackApi": {
          "id": "",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1000000-0000-0000-0000-000000000001",
              "name": "question",
              "value": "={{ ($json.text || '').replace(/<@[A-Z0-9]+>/g, '').trim() }}",
              "type": "string"
            },
            {
              "id": "f1000000-0000-0000-0000-000000000002",
              "name": "channel",
              "value": "={{ $json.channel }}",
              "type": "string"
            },
            {
              "id": "f1000000-0000-0000-0000-000000000003",
              "name": "ts",
              "value": "={{ $json.ts }}",
              "type": "string"
            },
            {
              "id": "f1000000-0000-0000-0000-000000000004",
              "name": "thread_ts",
              "value": "={{ $json.thread_ts || '' }}",
              "type": "string"
            },
            {
              "id": "f1000000-0000-0000-0000-000000000005",
              "name": "user",
              "value": "={{ $json.user }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        944
      ],
      "id": "fb433132-3e56-43cf-97bc-db781d873e9d",
      "name": "Parse Event"
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "add",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channel }}",
          "mode": "id"
        },
        "timestamp": "={{ $json.ts }}",
        "name": "eyes"
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -16,
        784
      ],
      "id": "sb01-000d-0000-0000-00000000000d",
      "name": "Add Eyes Reaction",
      "continueOnFail": true,
      "credentials": {
        "slackApi": {
          "id": "",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1000000-0000-0000-0000-000000000001",
              "leftValue": "={{ $json.thread_ts }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -16,
        944
      ],
      "id": "a59d2869-f44b-45e7-83b4-e30c18b71109",
      "name": "In Thread?"
    },
    {
      "parameters": {
        "url": "https://slack.com/api/conversations.replies",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "={{ $('Parse Event').item.json.channel }}"
            },
            {
              "name": "ts",
              "value": "={{ $('Parse Event').item.json.thread_ts }}"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        816
      ],
      "id": "69e0adc1-c9b6-42d8-bd0d-51476ae8a949",
      "name": "Get Thread Replies",
      "credentials": {
        "slackApi": {
          "id": "",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://slack.com/api/conversations.history",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "={{ $('Parse Event').item.json.channel }}"
            },
            {
              "name": "limit",
              "value": "30"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        1056
      ],
      "id": "b8b8101d-18fc-4119-a106-93fa610be831",
      "name": "Get Channel History",
      "credentials": {
        "slackApi": {
          "id": "",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst messages = Array.isArray(resp.messages) ? resp.messages.slice() : [];\n\n// Sort chronologically (ascending by ts). Channel history arrives newest-first, thread replies arrive oldest-first; sorting normalises both.\nmessages.sort((a, b) => parseFloat(a.ts || '0') - parseFloat(b.ts || '0'));\n\nconst parseEvent = $('Parse Event').first().json;\n\nconst contextLines = messages\n  .filter(m => m.text && m.text.trim())\n  .map(m => `<${m.user || m.bot_id || 'bot'}>: ${m.text}`)\n  .join('\\n');\n\nreturn [{\n  json: {\n    question: parseEvent.question,\n    channel: parseEvent.channel,\n    ts: parseEvent.ts,\n    thread_ts: parseEvent.thread_ts,\n    user: parseEvent.user,\n    context: contextLines || '(no prior context in this channel or thread)',\n    thread_parent_ts: parseEvent.thread_ts || parseEvent.ts\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        944
      ],
      "id": "b32b1745-4e98-43a3-a420-f5f4c35dab47",
      "name": "Build Context"
    },
    {
      "parameters": {
        "jsCode": "const buildCtx = $input.first().json;\nconst context = buildCtx.context || '';\n\n// Extract unique Slack user IDs referenced in the context (matches <UXXXX> / <WXXXX>).\nconst ids = new Set();\nfor (const m of context.matchAll(/<([UW][A-Z0-9]+)>/g)) {\n  ids.add(m[1]);\n}\n\n// No user mentions in context, pass straight through.\nif (ids.size === 0) {\n  return [{ json: buildCtx }];\n}\n\n// Fetch each user in parallel via users.info. Continue on individual failure so one bad ID doesn't drop the whole run.\nconst lookups = await Promise.all(\n  Array.from(ids).map(async id => {\n    try {\n      const resp = await this.helpers.httpRequestWithAuthentication.call(\n        this,\n        'slackApi',\n        { method: 'GET', url: 'https://slack.com/api/users.info', qs: { user: id }, json: true }\n      );\n      return { id, ok: resp && resp.ok, user: resp && resp.user };\n    } catch (err) {\n      return { id, ok: false, error: String(err) };\n    }\n  })\n);\n\n// Build userId -> display name map (prefer display_name, fall back to real_name, then username, then ID).\nconst userMap = {};\nfor (const r of lookups) {\n  if (!r.ok || !r.user) continue;\n  const p = r.user.profile || {};\n  userMap[r.id] = p.display_name || p.real_name || r.user.real_name || r.user.name || r.id;\n}\n\n// Rewrite context: replace <USERID> occurrences with @DisplayName. Leave unresolved IDs in raw form.\nconst newContext = context.replace(/<([UW][A-Z0-9]+)>/g, (match, id) => userMap[id] ? `@${userMap[id]}` : match);\n\nreturn [{ json: { ...buildCtx, context: newContext } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [544, 944],
      "id": "sb01-usr2-0000-0000-000000000002",
      "name": "Resolve User Names"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Thread or channel context (oldest to newest):\n\n{{ $json.context }}\n\nThe user just @-mentioned the bot with:\n\n{{ $json.question }}",
        "options": {
          "systemMessage": "You are the first step of a three-step Slack-based SOC assistant. A user just @-mentioned the bot in a Slack channel or thread. Your one job is to restate what the user is asking, in one sentence, using the thread context to disambiguate references like \"that alert\", \"the second finding\", or \"the IP you just flagged\".\n\n## Output rules\n\n* Your entire response is ONE LINE.\n* Start with 💭 (literal Unicode thought-balloon emoji) as the very first character.\n* Format: `💭 _<summary>_` (italics via single underscores, Slack mrkdwn).\n* Keep it under 200 characters.\n* Do NOT call any tools. You have none wired up at this step.\n* No preamble, no labels, no \"Here is my summary\", just the line itself.\n\n## Example\n\n💭 _Diving deeper into the Lambda function operations from the earlier CloudTrail finding for `system-maintenance-handler`._\n\n## What the next steps will do\n\nYou are step 1. Step 2 (Plan) will write a short investigation plan. Step 3 (Execute) will run Scanner MCP queries and post the finding. Do not try to do their jobs, your summary is what anchors them."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        656,
        944
      ],
      "id": "8bc378dc-e3a3-4e89-b53b-30f8cd8d1654",
      "name": "Summarize Request",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "channel", "value": "={{ $('Resolve User Names').item.json.channel }}"},
            {"name": "text", "value": "=*[1/3]* {{ $json.output.indexOf('💭') >= 0 ? $json.output.slice($json.output.indexOf('💭')) : $json.output }}"},
            {"name": "thread_ts", "value": "={{ $('Resolve User Names').item.json.thread_parent_ts }}"},
            {"name": "mrkdwn", "value": "true"}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        944
      ],
      "id": "e27a4b06-6424-4051-84a5-c01ce1d181c7",
      "name": "Post Summary",
      "credentials": {
        "slackApi": {
          "id": "",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Thread or channel context (oldest to newest):\n\n{{ $('Resolve User Names').item.json.context }}\n\nThe user's question:\n\n{{ $('Resolve User Names').item.json.question }}\n\nSummary from step 1 (what we're investigating):\n\n{{ $('Summarize Request').item.json.output }}\n\nNow produce the plan.",
        "options": {
          "systemMessage": "You are the second step of a three-step Slack-based SOC assistant. You have been given the user's question, the thread context, and a one-line summary from the prior step. Your job is to write a short, concrete investigation plan that the Execute step will run against Scanner MCP.\n\n## Tools available to you\n\nYou have READ-ONLY Scanner MCP tools so you can ground the plan in the actual environment. These return metadata only, they do not search log events:\n\n* `get_scanner_context`, lists the log indexes available in this Scanner tenant, their schema, and a context token. Call this first if you don't already know what indexes are present.\n* `get_top_columns`, returns the most common fields in a given index. Use this when your plan depends on specific field names you're not sure exist.\n* `get_docs`, returns documentation for Scanner query syntax, built-in functions, and operators. Use this if you're unsure how to phrase a query pattern.\n\nYou CANNOT run queries. `execute_query` and `fetch_query_results` are only available to the Execute step. Your job is to plan, not investigate. If you feel the urge to search for a specific user or IP, that's a hint that the item belongs in a plan bullet, not a tool call at your step.\n\nKeep schema exploration to 1–3 tool calls. Use them to verify index names and key fields, not to build a comprehensive map of the environment.\n\n## Output rules\n\n* First character of your response: 📋 (literal Unicode clipboard emoji).\n* Second line: `*Plan*:`\n* Then 3 to 6 bullet lines, each starting with `•`.\n* Each bullet must reference a concrete action, a Scanner query (name the index and key fields), a threat intel lookup, a specific log source to inspect. Do not write vague bullets like \"investigate the activity\" or \"check for anomalies\".\n* Slack mrkdwn only: `*bold*` with single asterisks, `` `code` `` for field names, index names, IPs, and other technical values. `•` for bullets, never `- ` or `* `. Do not use `#` headers or `**double asterisk**` bold.\n* No preamble, no sign-off, no \"Let me plan this out\".\n\n## Example\n\n📋 *Plan*:\n• Query `@index=global-cloudtrail` for all `lambda:*` events in the past 6 hours, grouped by `eventName`\n• Filter for operations against function `system-maintenance-handler` specifically\n• Check EventBridge `PutRule` and `PutTargets` calls in the same window to see how the Lambda was wired to a schedule\n• Cross-reference source IP `31.41.59.26` against threat intel\n• Look for `CreateFunction` / `UpdateFunctionConfiguration` loops that suggest redeployment persistence\n\n## What the next step will do\n\nThe Execute step has the full Scanner MCP tool set (including `execute_query` and `fetch_query_results`) and will call `get_scanner_context` on its own. Your plan should name indexes and fields specifically when you know them; where you're unsure, it's fine to phrase a bullet at the intent level (\"search the identity provider logs for failed logins from this user\") and let Execute resolve the exact index."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1104,
        944
      ],
      "id": "078e0434-2326-4d0c-9f81-b4ee05f0ddea",
      "name": "Plan Investigation",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "channel", "value": "={{ $('Resolve User Names').item.json.channel }}"},
            {"name": "text", "value": "=*[2/3]* {{ $json.output.indexOf('📋') >= 0 ? $json.output.slice($json.output.indexOf('📋')) : $json.output }}"},
            {"name": "thread_ts", "value": "={{ $('Resolve User Names').item.json.thread_parent_ts }}"},
            {"name": "mrkdwn", "value": "true"}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        944
      ],
      "id": "9b0c2a0d-b4ba-462a-b656-1efe05e8f6f1",
      "name": "Post Plan",
      "credentials": {
        "slackApi": {
          "id": "",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Thread or channel context (oldest to newest):\n\n{{ $('Resolve User Names').item.json.context }}\n\nThe user's question:\n\n{{ $('Resolve User Names').item.json.question }}\n\nYour plan (from step 2):\n\n{{ $('Plan Investigation').item.json.output }}\n\nExecute the plan using the Scanner MCP tools and post the finding.",
        "options": {
          "systemMessage": "You are the third and final step of a Slack-based SOC assistant. You have Scanner MCP wired up as a tool. Your job is to execute the plan from the prior step and post the finding in Slack.\n\n## Critical output rule\n\nYour final response, in its entirety, must be exactly the Slack-formatted finding. No preamble, no \"Let me run the queries\", no reasoning summary, no commentary, no code fences. Your internal reasoning happens silently during tool calls; it must not appear in the final response. The first character of your response must be the literal ✅ (Unicode white check mark) emoji.\n\n## Slack formatting rules\n\nYou are posting to Slack, NOT a markdown renderer. Slack mrkdwn differs from GitHub markdown.\n\n**Use:**\n* `*bold*` with single asterisks (not `**double**`).\n* `` `code` `` for IPs, field names, commands, usernames, hashes, index names, event names.\n* `•` for bullets, `◦` for sub-bullets.\n* `>` at the start of a line for blockquotes of critical evidence.\n* Literal Unicode emoji (✅, 🔍, 🚨), never shortcodes like `:white_check_mark:` or `:mag:`.\n\n**Do not use:**\n* `#` or `##` markdown headers. Use `*Bold Text*` on its own line for section titles.\n* `**double asterisk**` for bold, it renders as literal asterisks.\n* `- ` or `* ` for bullets, use `•`.\n* `---` or `***` as separators, use a blank line.\n* Triple-backtick code fences around the entire response.\n\n## Tool usage\n\n### Scanner MCP\n\nUse the Scanner MCP tools: `get_scanner_context`, `execute_query`, `fetch_query_results`, `get_docs`, `get_top_columns`.\n\n* Always call `get_scanner_context` first if you have not already in this conversation, it returns the available log sources and a context token required by `execute_query`.\n* Scanner query syntax:\n  * Use `@index=<index-name>` to narrow searches.\n  * NEVER use bare `OR` between `field:value` pairs. Group values in parentheses:\n    * CORRECT: `sourceIPAddress: (\"23.27.124.*\" \"23.27.140.*\")`\n    * WRONG: `sourceIPAddress: 23.27.124.* OR sourceIPAddress: 23.27.140.*`\n  * Wildcard field search: `**: \"value\"` searches across all fields.\n* Run queries in parallel when possible (multiple `execute_query` tool calls in one turn) to keep latency down.\n* Keep total queries to the small set your plan called for. Do not speculate with extra queries when the evidence is already conclusive.\n\n### Threat intel\n\nFor any external IOCs (IPs, domains, URLs, file hashes) that come up during investigation, you have three threat intel tools:\n\n* **ThreatFox IOC Lookup**: reputation check for a specific IOC (call with an IP, domain, URL, or file hash).\n* **OTX Pulse Search**: community pulses for campaigns and context (call with a keyword: IP, domain, CVE ID, malware family, or threat actor name).\n* **Feodo Tracker**: current botnet C2 IP blocklist for Dridex, Emotet, TrickBot, QakBot, etc. (no parameters; returns the full active list).\n\nHits against these feeds are strong evidence. Absence of a hit is weak evidence, since many real threats are not in public feeds.\n\n## Output template\n\nAdapt the structure to the actual question, not every section belongs in every answer. Start with ✅ and end with the \"Recommended Next Questions\" bullets.\n\n✅ *Finding*\n\n*TL;DR*: [1 to 2 sentence direct answer to the user's question]\n\n*Evidence*:\n• [Specific query or lookup → what it returned, with `code` for technical values]\n• [Specific query or lookup → what it returned]\n• [Specific query or lookup → what it returned]\n\n*Timeline* (include only if a timeline is relevant to the answer):\n• `[timestamp]` [event]\n• `[timestamp]` [event]\n\n> [Blockquote for the single most critical piece of evidence or context]\n\n*What I could not confirm* (include only if there are real visibility gaps):\n• [What you searched, what was not found, why it is inconclusive]\n\n*Recommended Next Questions*:\n• [Follow-up that would close a gap or deepen the investigation]\n• [Follow-up about broader context]\n\nKeep the message compact, a Slack reply, not a blog post. Aim for under 30 lines total. If the question is small, the answer can be much smaller than the template (a TL;DR and two evidence bullets may be enough)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1552,
        944
      ],
      "id": "eeced5d7-f08f-47ad-975d-7b5bfa2c2a93",
      "name": "Execute Plan",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "channel", "value": "={{ $('Resolve User Names').item.json.channel }}"},
            {"name": "text", "value": "=*[3/3]* {{ $json.output.indexOf('✅') >= 0 ? $json.output.slice($json.output.indexOf('✅')) : $json.output }}"},
            {"name": "thread_ts", "value": "={{ $('Resolve User Names').item.json.thread_parent_ts }}"},
            {"name": "mrkdwn", "value": "true"}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1776,
        944
      ],
      "id": "686823fc-76de-4c01-9f14-54ac89752985",
      "name": "Post Result",
      "credentials": {
        "slackApi": {
          "id": "",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-7",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.7"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1104,
        1152
      ],
      "id": "4fbb3ea8-9ef5-4c31-ab8c-9395d3da288b",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.your-env.scanner.dev/v1/mcp",
        "authentication": "bearerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        1648,
        1152
      ],
      "id": "b5671764-70d5-4af1-94c0-23de0d7a3335",
      "name": "Scanner MCP",
      "credentials": {
        "httpBearerAuth": {
          "id": "",
          "name": "Scanner API/MCP Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.your-env.scanner.dev/v1/mcp",
        "authentication": "bearerAuth",
        "include": "selected",
        "includeTools": [
          "get_scanner_context",
          "get_top_columns",
          "get_docs"
        ],
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        1248,
        1152
      ],
      "id": "9c66ec5b-17aa-4a8e-9b9e-682db7d1b9c7",
      "name": "Scanner MCP (Schema Tools Only)",
      "credentials": {
        "httpBearerAuth": {
          "id": "",
          "name": "Scanner API/MCP Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Reputation check for a specific IOC (IP, domain, URL, or file hash) against the ThreatFox database. Returns whether the IOC is known malicious, associated malware family, confidence level, and first_seen date. Call this when you observe an external indicator during investigation and want to check if it is reported.",
        "method": "POST",
        "url": "https://threatfox-api.abuse.ch/api/v1/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"query\": \"search_ioc\", \"search_term\": \"{{ $fromAI('ioc', 'The IOC to look up: an IP address, domain, URL, or file hash (MD5, SHA1, or SHA256).', 'string') }}\" }"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1792, 1152],
      "id": "sb01-ti01-0000-0000-000000000001",
      "name": "ThreatFox IOC Lookup",
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Threatfox Abuse.ch Header Credential"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Search AlienVault OTX (Open Threat Exchange) for threat intel pulses. Call with a keyword: a CVE ID, malware family, threat actor, campaign name, IP address, or domain. Returns up to 10 community pulses, each with IOCs, MITRE ATT&CK mappings, references, and descriptive context.",
        "url": "=https://otx.alienvault.com/api/v1/search/pulses?q={{ $fromAI('query', 'Keyword to search for: CVE ID, malware family, threat actor, campaign name, IP, or domain.', 'string') }}&limit=10",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1936, 1152],
      "id": "sb01-ti02-0000-0000-000000000002",
      "name": "OTX Pulse Search",
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "OTX Header Auth"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Get the current Feodo Tracker aggressive IP blocklist: botnet C2 (command and control) IPs actively used by Dridex, Emotet, Heodo, TrickBot, QakBot, and similar malware families. Returns a JSON array of IPs with AS number, hostname, malware family, and first/last seen timestamps. No parameters. Call this to cross-reference any external IPs you observed in logs against active botnet C2 infrastructure.",
        "url": "https://feodotracker.abuse.ch/downloads/ipblocklist_aggressive.json"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [2080, 1152],
      "id": "sb01-ti03-0000-0000-000000000003",
      "name": "Feodo Tracker"
    }
  ],
  "pinData": {
    "Slack Trigger": [
      {
        "json": {
          "_comment": "Anonymized sample. Before clicking Execute workflow: replace REPLACE_WITH_TEST_CHANNEL_ID with a real Slack channel ID the bot is invited to, and REPLACE_WITH_REAL_MESSAGE_TS with a real message ts from that channel (hover over a message → Copy link → the numeric suffix, split as <seconds>.<microseconds>). See setup.md step 5.",
          "type": "app_mention",
          "user": "U0000000000",
          "ts": "REPLACE_WITH_REAL_MESSAGE_TS",
          "client_msg_id": "00000000-0000-0000-0000-000000000000",
          "text": "<@U9999999999> what log sources do i have?",
          "team": "T0000000000",
          "blocks": [
            {
              "type": "rich_text",
              "block_id": "XXXXX",
              "elements": [
                {
                  "type": "rich_text_section",
                  "elements": [
                    {
                      "type": "user",
                      "user_id": "U9999999999"
                    },
                    {
                      "type": "text",
                      "text": " what log sources do i have?"
                    }
                  ]
                }
              ]
            }
          ],
          "channel": "REPLACE_WITH_TEST_CHANNEL_ID",
          "event_ts": "REPLACE_WITH_REAL_MESSAGE_TS"
        }
      }
    ]
  },
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Parse Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Event": {
      "main": [
        [
          {
            "node": "Add Eyes Reaction",
            "type": "main",
            "index": 0
          },
          {
            "node": "In Thread?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "In Thread?": {
      "main": [
        [
          {
            "node": "Get Thread Replies",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Channel History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Thread Replies": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Channel History": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context": {
      "main": [
        [
          {
            "node": "Resolve User Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve User Names": {
      "main": [
        [
          {
            "node": "Summarize Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Request": {
      "main": [
        [
          {
            "node": "Post Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Summary": {
      "main": [
        [
          {
            "node": "Plan Investigation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan Investigation": {
      "main": [
        [
          {
            "node": "Post Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Plan": {
      "main": [
        [
          {
            "node": "Execute Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Plan": {
      "main": [
        [
          {
            "node": "Post Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Request",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Plan Investigation",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Execute Plan",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Scanner MCP": {
      "ai_tool": [
        [
          {
            "node": "Execute Plan",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Scanner MCP (Schema Tools Only)": {
      "ai_tool": [
        [
          {
            "node": "Plan Investigation",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ThreatFox IOC Lookup": {
      "ai_tool": [
        [
          {
            "node": "Execute Plan",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OTX Pulse Search": {
      "ai_tool": [
        [
          {
            "node": "Execute Plan",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Feodo Tracker": {
      "ai_tool": [
        [
          {
            "node": "Execute Plan",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": [
    {
      "name": "scanner"
    },
    {
      "name": "soc"
    },
    {
      "name": "slack-bot"
    }
  ]
}
