n8n/alert-triage/workflow.json
{
  "name": "Scanner Alert Triage",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-7",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.7"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "66b03690-2a80-4a78-a712-820ddf1a18c5",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Triage this detection alert:\n\n{{ JSON.stringify($json, null, 2) }}",
        "options": {
          "systemMessage": "You are a security alert triage agent. Investigate each alert using the following methodology.\n\n**Critical output rule (read this twice):** Your final response, in its entirety, must be exactly the Slack finding template described in Phase 5. No preamble, no reasoning summary, no self critique text, no commentary, no code fences, no markdown headers. Your internal reasoning happens silently during tool calls; it must not appear in the final response. The first character of your response must be the 🚨 emoji. Anything else breaks the Slack formatting.\n\n## Phase 1: Initial Assessment and Hypothesis Generation\n\n1. Review the alert details and understand what the detection rule is looking for.\n2. Generate 2 to 4 hypotheses ranked by probability:\n   * Benign explanation (legitimate user activity, known process)\n   * Misconfiguration (incorrect rule, system issue)\n   * Actual attack (malicious activity, compromise)\n   * Insider threat (authorized user acting maliciously)\n3. For each hypothesis, identify what evidence would confirm or refute it.\n\n## Phase 2: Evidence Collection\n\n4. Use the Scanner MCP tools to collect targeted evidence:\n   * Query events BEFORE, DURING, and AFTER the alert (4 to 6 hour window).\n   * Look for the same source (user, IP, account, system).\n   * Think adversarially: if this were an attack, what would the attacker do next?\n5. Check for expansion indicators:\n   * Privilege escalation attempts or role changes\n   * Lateral movement or unusual network connections\n   * Data access anomalies or exfiltration patterns\n   * Persistence mechanisms (new users, scheduled tasks, backdoors)\n   * Multiple failed attempts followed by success\n\n### Threat intel enrichment\n\nFor any external IOCs (IPs, domains, URLs, file hashes) observed in the evidence, enrich with the threat intel tools:\n\n* **ThreatFox IOC Lookup**: reputation check against ThreatFox. REQUIRED param `ioc` (string): the IP, domain, URL, or file hash to check. Returns associated malware family, confidence level, and first_seen date when the IOC is known.\n* **OTX IOC Lookup**: direct AlienVault OTX indicator lookup. REQUIRED params: `type` (one of `IPv4`, `IPv6`, `domain`, `hostname`, `url`, `file`, `cve`, case-sensitive) and `value` (the indicator). Returns pulses referencing the indicator with malware family, MITRE mappings, and context. Fast direct lookup.\n\nWeight the findings: a hit against a current feed is strong evidence of compromise; absence of hits is weak evidence, since many real threats are not in public feeds.\n\n## Phase 3: Classification\n\n6. Classify the alert:\n   * **BENIGN**: Weight of evidence points to legitimate activity. Includes cases where the activity pattern is well established (recurring user, known IP, business hours, expected role chains) even if some fields are redacted. Redacted parameters are a visibility gap to note, not evidence of malice. If you can explain WHO did it, WHY it is expected, and there are ZERO indicators of compromise, classify as BENIGN.\n   * **SUSPICIOUS**: Concrete anomalies that do not fit legitimate patterns, such as new IP, unusual time, unexpected role, first time access, failed attempts before success. Gaps in visibility alone do not make something suspicious.\n   * **MALICIOUS**: High confidence evidence of attack with corroborating indicators (known bad IOCs, persistence mechanisms, data exfiltration, multiple ATT&CK techniques chained together).\n7. Assign confidence:\n   * high (80 to 100%): Multiple independent evidence sources support conclusion.\n   * medium (60 to 79%): Moderate support with some gaps or contradictions.\n   * low (0 to 59%): Insufficient evidence to confidently support any hypothesis.\n\n## Phase 4: Self Critique (run twice)\n\n8. After your initial classification, critique your own analysis:\n   * What evidence might you have missed?\n   * Are there alternative explanations you did not consider?\n   * Is your confidence level justified by the evidence?\n   * What would change your classification?\n\nRevise your assessment if the critique reveals weaknesses.\n\n## Phase 5: Final Output\n\nYour entire final response must follow the exact template below. No wrapping code fences. No preamble. No text after the last bullet. Treat this template as the literal bytes to emit, substituting bracketed placeholders with your actual findings.\n\nBegin your response with the siren emoji (🚨) as the very first character. End your response with the final \"Next questions\" bullet. Nothing else.\n\nTemplate:\n\n🚨 *Security Alert Investigation*\n\n> [One-line headline verdict in plain English. Lead with the classification and the most consequential nuance — this is what people see in Slack's channel preview. e.g. \"🟡 SUSPICIOUS — textbook T1098 priv-esc pattern, but the source IP is RFC 5737 reserved space suggesting demo data; verify out-of-band before acting.\"]\n\n*Alert*: [name field]\nID: `[id field]` · Severity: [severity field] · *Classification*: [🟢 BENIGN | 🟡 SUSPICIOUS | 🔴 MALICIOUS] · *Confidence*: [XX%] [High | Medium | Low]\n\n*TL;DR*: [2 sentences. First: what was detected and the classification. Second: the key finding and the recommended next action.]\n\n*Timeline*\n• `[timestamp]` [First relevant event in the investigation window]\n• `[timestamp]` [Subsequent event — drop chips on tokens already introduced above]\n• `[timestamp]` *Alert triggered*: [The detection event]\n• `[timestamp]` [Any post-alert activity observed]\n\n*Hypothesis testing*\n✓ [Confirmed hypothesis — one-sentence reasoning]\n✗ [Ruled out alternative 1 — why]\n✗ [Ruled out alternative 2 — why]\n\n*Key evidence* (interpretations the reader can't infer from Timeline alone — not restated facts):\n• [Finding 1 — the *meaning* of the evidence, not a re-quote of what's already in Timeline. Each bullet adds something Timeline didn't.]\n• [Finding 2]\n• [Finding 3]\n\n*MITRE ATT&CK*: [Cite tactics and techniques by canonical tag (e.g., `techniques.t1098.account_manipulation`, `techniques.t1098.003.additional_cloud_roles`). Include this line whenever any techniques apply, regardless of classification — a SUSPICIOUS or BENIGN alert can still map to a technique. Omit the line only when no techniques are relevant.]\n\n*Next questions* (cap at 2; only include if they would actually unblock further work):\n• [Follow-up that would close a gap or deepen the investigation]\n• [Follow-up about broader context]\n\n### Slack formatting rules\n\nSlack uses its own mrkdwn dialect, not GitHub-flavored markdown.\n\n**Use:**\n* `*bold*` for bold (single asterisk, not double).\n* `` `code` `` for things a reader might copy: full Scanner query fragments, exact field names (`sourceIPAddress`, `userAgent`), IPs, hashes, MITRE tag IDs (`techniques.t1098.account_manipulation`), full ARNs, specific commands or AWS API call names worth copying.\n* **Ration the chips, especially on repeated tokens.** Once you've wrapped a username, IP, ARN, or rule name in chips on first mention, subsequent mentions in the same message stay unwrapped — the first chip introduces the token, plain text references it. Plain dates, severity labels, and English connective tissue stay unwrapped throughout. Chips lose meaning when half the message is orange — if you've used more than ~10 in the response, you've over-wrapped.\n* `•` for bullets in Timeline and Key evidence. For Hypothesis testing, use `✓` and `✗` as the bullet marker itself (no leading `•`).\n* `>` at the start of a line for the headline blockquote at the top.\n* Literal Unicode emoji (🚨, 🟢, 🟡, 🔴, ✓, ✗), never shortcodes like `:rotating_light:`.\n\n**Do not use:**\n* `#` or `##` markdown headers. Use `*Bold Text*` on its own line for section titles.\n* `**double asterisk**` for bold, it renders as literal asterisks.\n* `- ` or `* ` for bullets, use `•` (or `✓`/`✗` for Hypothesis testing).\n* `---` or `***` as separators, use a blank line.\n* Triple-backtick code fences **around the entire response**. (Targeted multi-line code blocks for tabular data are fine if you have any — but the triage report rarely needs them.)\n",
          "maxIterations": 100
        }
      },
      "id": "daaec981-6ca6-40a8-90dd-8c4801f0f215",
      "name": "Alert Triage Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.your-env.scanner.dev/v1/mcp",
        "authentication": "bearerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        368,
        208
      ],
      "id": "8529826c-305a-4a4a-b7cd-7a142676a9eb",
      "name": "Scanner MCP",
      "credentials": {
        "httpBearerAuth": {
          "id": "",
          "name": "Scanner API/MCP Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Reputation check for a specific IOC (IP, domain, URL, or file hash) against the ThreatFox database. Returns whether the IOC is known malicious, associated malware family, confidence level, and first_seen date, or a not_in_list response if the IOC is not reported. Call this when you observe an external indicator during investigation and want to check if it is known bad. You MUST supply a non-empty `ioc` parameter.",
        "method": "POST",
        "url": "https://threatfox-api.abuse.ch/api/v1/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "query", "value": "search_ioc" },
            { "name": "search_term", "value": "={{ $fromAI('ioc', 'REQUIRED non-empty IOC: IP, domain, URL, or file hash to look up in ThreatFox.', 'string') }}" },
            { "name": "exact_match", "value": "true" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [512, 208],
      "id": "at01-ti01-0000-0000-000000000001",
      "name": "ThreatFox IOC Lookup",
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Threatfox Abuse.ch Header Credential"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Look up a specific IOC in AlienVault OTX's indicator database. Returns the community pulses that reference this IOC along with malware family associations, MITRE ATT&CK mappings, and threat context. Direct key-value lookup — fast (typically under 1s). Use whenever you have a concrete indicator. REQUIRED params: `type` (one of: IPv4, IPv6, domain, hostname, url, file, cve — case-sensitive) and `value` (the indicator itself).",
        "method": "GET",
        "url": "=https://otx.alienvault.com/api/v1/indicators/{{ $fromAI('type', 'REQUIRED. The indicator type. Must be EXACTLY one of: IPv4, IPv6, domain, hostname, url, file, cve (case-sensitive).', 'string') }}/{{ encodeURIComponent($fromAI('value', 'REQUIRED non-empty indicator value. For IPv4: the IP (e.g. 8.8.8.8). For IPv6: the full IP. For domain/hostname: the FQDN (e.g. evil.com, no scheme). For url: the full URL including scheme. For file: MD5, SHA1, or SHA256 hash. For cve: a CVE ID like CVE-2024-3400.', 'string')) }}/general",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [656, 208],
      "id": "at01-ti02-0000-0000-000000000002",
      "name": "OTX IOC Lookup",
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "OTX Header Auth"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "REPLACE_WITH_SLACK_CHANNEL_ID",
          "mode": "id"
        },
        "text": "={{ $json.output.indexOf('🚨') >= 0 ? $json.output.slice($json.output.indexOf('🚨')) : $json.output }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        576,
        0
      ],
      "id": "028d2537-77f4-4b9f-ae81-b6f9273ebc38",
      "name": "Send a message",
      "webhookId": "66ef59c2-b9ec-4d6f-9e8c-610ef1e22ea3",
      "credentials": {
        "slackApi": {
          "id": "",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scanner-alert",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "ff7a50a7-dd89-44d2-a1b4-4158f76941b7",
      "name": "Webhook",
      "webhookId": "scanner-alert",
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
          "detection_rule_id": "b91e2f04-5d3a-4a77-9e1c-2f4f0c7a9b6d",
          "tenant_id": "116f7376-5997-48db-a656-b882d42f853e",
          "severity_id": 4,
          "severity": "High",
          "name": "AWS IAM - AdministratorAccess policy attached outside business hours",
          "description": "A user attached AWS managed AdministratorAccess policy to an IAM principal outside 08:00 to 18:00 UTC. Possible privilege escalation by an attacker.",
          "query_text": "@index={ e78135d3-934c-4c40-99b4-7cec54e90f69 | \"global-cloudtrail\" } eventName:\"AttachUserPolicy\" requestParameters.policyArn:\"arn:aws:iam::aws:policy/AdministratorAccess\" | where eventTime.hour < 8 or eventTime.hour >= 18 | count by userIdentity.arn, sourceIPAddress, requestParameters.userName, requestParameters.policyArn",
          "tags": [
            "tactics.ta0004.privilege_escalation",
            "tactics.ta0003.persistence",
            "techniques.t1098.003_additional_cloud_roles",
            "cloud.aws",
            "aws.iam"
          ],
          "detected_in_time_range": {
            "start": "2026-04-20T03:42:00.000000000Z",
            "end": "2026-04-20T03:47:12.000000000Z"
          },
          "timestamp": 1776666432000000000,
          "staging": false,
          "results_table": {
            "columns": [
              "userIdentity.arn",
              "sourceIPAddress",
              "requestParameters.userName",
              "requestParameters.policyArn",
              "@q.count"
            ],
            "rows": [
              {
                "userIdentity.arn": "arn:aws:iam::123456789012:user/jsmith",
                "sourceIPAddress": "203.0.113.42",
                "requestParameters.userName": "contractor-alice",
                "requestParameters.policyArn": "arn:aws:iam::aws:policy/AdministratorAccess",
                "@q.count": 1
              }
            ],
            "total_row_count": 1
          },
          "View in Scanner": "https://app.scanner.dev/redirect/detections_query/116f7376-5997-48db-a656-b882d42f853e?detection_rule_id=b91e2f04-5d3a-4a77-9e1c-2f4f0c7a9b6d&triggered_at=2026-04-20T03%3A47%3A12.000000000%2B00%3A00"
        }
      }
    ]
  },
  "connections": {
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Alert Triage Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Alert Triage Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scanner MCP": {
      "ai_tool": [
        [
          {
            "node": "Alert Triage Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ThreatFox IOC Lookup": {
      "ai_tool": [
        [
          {
            "node": "Alert Triage Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OTX IOC Lookup": {
      "ai_tool": [
        [
          {
            "node": "Alert Triage Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Alert Triage Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": [
    {
      "name": "scanner"
    },
    {
      "name": "soc"
    },
    {
      "name": "alert-triage"
    }
  ]
}
