n8n/threat-hunting/workflow.json
{
  "name": "Scanner Threat Hunt",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */6 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "8a1b2c3d-0001-0000-0000-000000000001",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.cisa.gov/sites/default/files/feeds/known_exploited_vulnerabilities.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        0
      ],
      "id": "8a1b2c3d-0002-0000-0000-000000000002",
      "name": "CISA KEV"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst vulns = data.vulnerabilities || [];\nvulns.sort((a, b) => (b.dateAdded || '').localeCompare(a.dateAdded || ''));\nreturn [{ json: { recent_kev: vulns.slice(0, 5) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "8a1b2c3d-0003-0000-0000-000000000003",
      "name": "Extract Top KEV"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Execute today's threat hunt. Recently added CISA Known Exploited Vulnerabilities for your reference:\n\n{{ JSON.stringify($json.recent_kev, null, 2) }}",
        "options": {
          "systemMessage": "You are an autonomous threat hunting agent. Your mission is to proactively hunt for evidence of compromise in historical Scanner logs using fresh threat intelligence. You run every 6 hours on a schedule.\n\n**Critical output rule (read this twice):** Your final response, in its entirety, must be exactly the Slack findings report template described in Phase 5. No preamble (do not say things like \"I have enough data\" or \"Let me compose the report\" or \"Now composing findings\"), no reasoning summary, no commentary, no code fences, no `#` or `##` markdown headers, no `**double asterisk**` bold, no `---` separators, no `- ` bullets. Your internal reasoning happens silently during tool calls; it must not appear in the final response. The first character of your response must be the literal Unicode 🔍 emoji (not a shortcode like `:mag:`). Anything else breaks the Slack formatting.\n\n**Stop-and-restart directive:** If at any point you find yourself beginning the final response with any word other than the 🔍 emoji — including \"I\", \"Let\", \"Now\", \"Here\", \"Based\", \"Okay\", etc. — stop immediately and restart your response with 🔍 as the first character. The final response starts with 🔍, full stop.\n\n## Phase 1: Environment Discovery\n\n1. Call `get_scanner_context` to understand what log sources are available in Scanner.\n2. Identify the environment: what platforms, vendors, services, and log types exist (AWS CloudTrail? Identity provider? Endpoint EDR? Network flow?).\n3. Note what kinds of IOCs are searchable (IPs in network logs, domains in DNS/proxy logs, hashes in endpoint logs, user agents, etc.).\n4. This context determines which threats are worth hunting for.\n\n## Phase 2: Threat Intelligence Gathering\n\nThe user message includes pre-fetched CISA Known Exploited Vulnerabilities (top 5 most recently added) under the `recent_kev` field.\n\n5. Review the pre-fetched CISA KEV entries. **CRITICAL**: filter for relevance to the environment discovered in Phase 1. Skip vulnerabilities for products or vendors not present in your log sources. Prioritize CVEs that match your environment:\n   * AWS / cloud logs → prioritize cloud-relevant CVEs\n   * Identity provider logs → prioritize auth-related CVEs\n   * Network logs → prioritize CVEs in network-facing products\n6. Use the **ThreatFox Search** tool to get IOCs tied to the most relevant CVEs, malware families, or threat actors. Focus on IOC types that are actually searchable in the available log sources.\n7. Use the **OTX Pulse Search** tool to find community threat intel pulses on a CVE or campaign. Pulses often include additional IOCs, MITRE mappings, and context that KEV and ThreatFox alone miss. Use this for free-text keyword queries (malware family names, threat actor names, campaign names).\n8. Use the **OTX IOC Lookup** tool whenever you have a *concrete* indicator during the hunt (an IP surfaced from a log sweep, a suspicious domain, a file hash, or a CVE ID). It's a direct key-value lookup — much faster than Pulse Search. Prefer it over Pulse Search for any indicator type (IPv4, IPv6, domain, hostname, url, file, cve).\n9. Use the **Feodo Tracker** tool to pull current botnet C2 IPs. This is especially useful when you have network flow, firewall, or DNS logs.\n10. If no CISA KEV entries are relevant to the environment, pivot to hunting for the freshest ThreatFox and Feodo IOCs against searchable log fields (e.g., known-bad C2 IPs in CloudTrail source IPs, malicious domains in DNS logs).\n11. **Determine search time range** based on threat intel timeline:\n    * When was the vulnerability first disclosed or added to KEV?\n    * When were the IOCs first reported (ThreatFox first_seen, OTX pulse creation date)?\n    * When did active exploitation campaigns begin?\n    * Set the search window from the earliest known threat activity to present. Example: a CVE from 2023 with IOCs first seen 18 months ago → search 2+ years. A brand new campaign from last month → 90 days is enough.\n\n## Phase 3: Historical Log Analysis via Scanner\n\nQuery Scanner using the time range determined in Phase 2.\n\n**Scanner query syntax rules:**\n\n* Use `@index=<index-name>` (not `%ingest.source_type`) to narrow searches.\n* **NEVER use bare `OR` between field:value pairs.** It breaks precedence. ALWAYS group multiple values for the same field in parentheses:\n  * CORRECT: `sourceIPAddress: (\"23.27.124.*\" \"23.27.140.*\")`\n  * WRONG: `sourceIPAddress: 23.27.124.* OR sourceIPAddress: 23.27.140.*`\n  * CORRECT: `eventName: (\"CreateFunction20150331\" \"UpdateFunctionCode20150331v2\")`\n  * WRONG: `eventName: \"X\" OR eventName: \"Y\"`\n* Wildcard field search: `**: \"value\"` searches across all fields.\n\n**Search strategy — IOC sweep first, then pivot:**\n\n1. Start with broad IOC sweeps using `**: \"IOC\"` queries (IPs, domains, hashes). These are cheap and search everything. Run one query per IOC or small batch.\n2. Only if you find hits: pivot to targeted behavioral queries on the relevant index (e.g., `@index=global-cloudtrail eventName: (...)`) to build context around the match — what happened before and after, same user or source, etc.\n3. If IOC sweeps come back clean, you are done searching. Do NOT run speculative behavioral queries when there are no IOC matches to investigate.\n4. Keep total queries minimal: 3 to 6 for a clean hunt, more only if you find hits.\n\n## Phase 4: Correlation and Assessment\n\n* Cross reference findings across log sources.\n* Build a timeline of any suspicious activity.\n* Map to MITRE ATT&CK tactics and techniques.\n* Assess scope (affected systems, users, time range).\n* Identify visibility and telemetry gaps.\n\n## Phase 5: Final Output\n\nYour entire final response must follow the exact template below. No wrapping code fences. No preamble. No text after the last bullet. Treat this template as the literal bytes to emit, substituting bracketed placeholders with your actual findings.\n\nBegin your response with the magnifying glass emoji (🔍) as the very first character. End your response with the final \"Next questions\" bullet. Nothing else.\n\nTemplate:\n\n🔍 *Threat Hunt Report*\n\n> [One-line headline verdict in plain English. The most important sentence in the report — what people see in Slack's channel preview. State the result *and* the most consequential nuance, e.g. \"🟢 No evidence of SimpleHelp exploitation across 180 days; the real story is that 4 of 5 KEV entries target log sources we don't ingest — coverage gap, not detection gap.\"]\n\n*Hunt*: [CVE ID(s)] — [vulnerability or threat name] | [vendor/product or threat family]\n*Range*: [start date] → [end date] · *Confidence*: [XX%] [High/Medium/Low] · *Result*: [🟢 NO EVIDENCE FOUND / 🟡 INCONCLUSIVE / 🔴 EVIDENCE OF COMPROMISE]\n*Intel*: CISA KEV (added [date]) + [ThreatFox / OTX / Feodo as applicable]\n\n*IOCs searched* — [one-line summary, e.g. \"all clean, 786 GB scanned\"]\n```\n162.243.103.246   Emotet C2   DigitalOcean        seen 2026-03-07\n50.16.16.211      QakBot C2   AWS EC2 (online)    seen 2025-12-30\n...\n```\n[1-2 lines of prose context — what each threat-intel tool returned, e.g. \"ThreatFox had no IOCs for CVE-2024-57726; OTX Akira pulse yielded contextual TTPs only.\"]\n\n[Pick one — *Why this came back clean* for hunts with no hits, *Findings* for hunts with positive hits. Don't emit both.]\n\n*Why this came back clean*:\n[1-3 sentences explaining the analytical insight — *why* nothing matched. Examples: \"Four of five KEV entries target on-prem appliances not represented in this cloud-native environment.\" or \"Hunt scope necessarily pivoted to generic C2 sweeps because ThreatFox had no IOCs seeded for these CVEs.\"]\n\n*Findings*:\n• ✓ or ✗ [What was searched and what was or was not found, with `technical details`]\n• ✓ or ✗ [Next finding]\n\n*Timeline* (only if suspicious activity found; omit the whole section if not):\n• `[Timestamp]` [Event description]\n• `[Timestamp]` [Event description]\n\n*MITRE ATT&CK*: [Tactics and techniques hunted for, cited by canonical tag: `tactics.ta0002.execution`, `techniques.t1190.exploit_public_facing_application`, etc.]\n\n*Visibility gaps* (in order of fixability — closable gaps first, environmental facts last; cap at 4):\n• *[Most-actionable gap]* — [what hunting capability it would unlock, name the specific IOC or TTP it relates to, e.g. \"would have caught egress C2 to AWS-hosted QakBot node `50.16.16.211`\"]\n• [Next gap, same structure]\n\n*Next questions* (cap at 2; only include if they would actually unblock further work):\n• [Follow-up that would close the most actionable visibility gap or confirm an applicability question]\n• [Follow-up about scope or broader context]\n\n### Slack formatting rules\n\nSlack uses its own mrkdwn dialect, not GitHub-flavored markdown.\n\n**Use:**\n* `*bold*` for bold (single asterisk, not double).\n* `` `code` `` for things a reader might copy: IPs, domains, file hashes, CVE IDs, MITRE tag IDs (`techniques.t1190.exploit_public_facing_application`), exact field names, Scanner query fragments.\n* **Ration the chips.** Plain dates (2026-04-24), vendor/product names mentioned in prose, severity labels, and result counts stay unwrapped. Chips lose meaning when half the message is orange — if you've used more than ~10 in the response, you've over-wrapped.\n* `•` for top level bullets, `◦` for sub bullets.\n* `>` at the start of a line for blockquote.\n* Triple-backtick fenced code blocks (multi-line) for tabular data — the *IOCs searched* list is the textbook case. Align columns with spaces. Tables-as-prose (\"`162.243.103.246` (Emotet C2, DigitalOcean), `50.16.16.211` (QakBot C2, AWS), …\") is the chip-soup failure mode in disguise.\n\n**Do not use:**\n* `#` or `##` headers — Slack has no header syntax; use `*bold*` for section titles instead.\n* `**double asterisk**` bold — renders as literal asterisks, does not bold.\n* `- ` or `* ` at the start of a line for bullets — use `•` instead.\n* `---` or `***` as separators — renders as literal dashes.\n* Triple backtick code fences **around the entire response**. (Targeted multi-line code blocks for tabular data are encouraged — see \"Use\" above.)\n* Slack emoji shortcodes like `:mag:` or `:rotating_light:` — emit the literal Unicode emoji (🔍, 🚨) instead.\n\nEvery section header in the template must keep its asterisks. Concrete example:\n\n```\nCORRECT:   *Hunt*:\nWRONG:     Hunt:\nWRONG:     **Hunt**:\nWRONG:     # Hunt\n```\n\nKeep the report compact: the full message should fit in roughly one screen of Slack without excessive scrolling.\n",
          "maxIterations": 100
        }
      },
      "id": "8a1b2c3d-0004-0000-0000-000000000004",
      "name": "Threat Hunt Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-7",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.7"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        448,
        208
      ],
      "id": "8a1b2c3d-0005-0000-0000-000000000005",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.your-env.scanner.dev/v1/mcp",
        "authentication": "bearerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        592,
        208
      ],
      "id": "8a1b2c3d-0006-0000-0000-000000000006",
      "name": "Scanner MCP",
      "credentials": {
        "httpBearerAuth": {
          "id": "",
          "name": "Scanner API/MCP Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Search ThreatFox for IOCs (indicators of compromise) tied to a CVE or tag. Call with a CVE ID (e.g., 'CVE-2024-12345') or a malware family / campaign tag. Returns a list of IOCs associated with that tag — IPs, domains, URLs, file hashes — with first_seen dates, malware family names, and confidence levels. Use this after filtering CISA KEV entries for environmental relevance: pick a CVE that matches your log sources and pull its IOCs here.",
        "method": "POST",
        "url": "https://threatfox-api.abuse.ch/api/v1/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "query", "value": "taginfo" },
            { "name": "tag", "value": "={{ $fromAI('cve_or_tag', 'REQUIRED non-empty: a CVE ID (e.g., CVE-2024-12345) or a malware family / campaign tag.', 'string') }}" },
            { "name": "limit", "value": "50" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        736,
        208
      ],
      "id": "8a1b2c3d-0007-0000-0000-000000000007",
      "name": "ThreatFox Search",
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Threatfox Abuse.ch Header Credential"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Search AlienVault OTX (Open Threat Exchange) for threat intel pulses by free-text keyword. Use for keyword searches on malware family names, threat actor names, or campaign names that are NOT concrete IOCs. Returns up to 10 community pulses with IOCs, MITRE mappings, references, and context. For concrete indicators (IPs, domains, hashes, CVE IDs) use `OTX IOC Lookup` instead — it's much faster. REQUIRED param `keyword` (non-empty string). Empty keywords time out OTX's gateway — never call without a concrete search term.",
        "url": "=https://otx.alienvault.com/api/v1/search/pulses?q={{ $fromAI('keyword', 'REQUIRED non-empty search term: a malware family name, threat actor name, or campaign name. For CVE IDs / IPs / domains / hashes use OTX IOC Lookup instead. NEVER pass an empty string.', 'string') }}&limit=10",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        880,
        208
      ],
      "id": "8a1b2c3d-0008-0000-0000-000000000008",
      "name": "OTX Pulse Search",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "OTX Header Auth"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Look up a specific IOC in AlienVault OTX's indicator database. Direct key-value lookup (typically under 1s) — much faster than OTX Pulse Search. Returns the community pulses that reference this IOC along with malware family associations, MITRE ATT&CK mappings, and threat context. Use this whenever you have a concrete indicator during a hunt: an IP surfaced from a log sweep, a suspicious domain, a file hash, or a CVE ID. REQUIRED params: `type` (one of: IPv4, IPv6, domain, hostname, url, file, cve — case-sensitive) and `value` (the indicator itself).",
        "method": "GET",
        "url": "=https://otx.alienvault.com/api/v1/indicators/{{ $fromAI('type', 'REQUIRED. The indicator type. Must be EXACTLY one of: IPv4, IPv6, domain, hostname, url, file, cve (case-sensitive).', 'string') }}/{{ encodeURIComponent($fromAI('value', 'REQUIRED non-empty indicator value. For IPv4: the IP. For IPv6: the full IP. For domain/hostname: the FQDN (no scheme). For url: the full URL including scheme. For file: MD5, SHA1, or SHA256 hash. For cve: a CVE ID like CVE-2024-3400.', 'string')) }}/general",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        880,
        384
      ],
      "id": "8a1b2c3d-000b-0000-0000-00000000000b",
      "name": "OTX IOC Lookup",
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "OTX Header Auth"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Get the Feodo Tracker IP blocklist: botnet C2 (command and control) IPs used by Dridex, Emotet, Heodo, TrickBot, QakBot, and similar malware families. Returns a JSON array of IPs with AS number, hostname, malware family, and first/last seen timestamps. No parameters needed. Includes IPs that acted as C2 within the past 30 days (not just currently active), which is what you want for retrospective hunts across historical logs.",
        "url": "https://feodotracker.abuse.ch/downloads/ipblocklist.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1024,
        208
      ],
      "id": "8a1b2c3d-0009-0000-0000-000000000009",
      "name": "Feodo Tracker"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "REPLACE_WITH_SLACK_CHANNEL_ID",
          "mode": "id"
        },
        "text": "={{ $json.output.indexOf('🔍') >= 0 ? $json.output.slice($json.output.indexOf('🔍')) : $json.output }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1024,
        0
      ],
      "id": "8a1b2c3d-000a-0000-0000-00000000000a",
      "name": "Send a message",
      "credentials": {
        "slackApi": {
          "id": "",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "CISA KEV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CISA KEV": {
      "main": [
        [
          {
            "node": "Extract Top KEV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Top KEV": {
      "main": [
        [
          {
            "node": "Threat Hunt Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Threat Hunt Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Scanner MCP": {
      "ai_tool": [
        [
          {
            "node": "Threat Hunt Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ThreatFox Search": {
      "ai_tool": [
        [
          {
            "node": "Threat Hunt Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OTX Pulse Search": {
      "ai_tool": [
        [
          {
            "node": "Threat Hunt Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OTX IOC Lookup": {
      "ai_tool": [
        [
          {
            "node": "Threat Hunt Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Feodo Tracker": {
      "ai_tool": [
        [
          {
            "node": "Threat Hunt Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Threat Hunt Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": [
    {
      "name": "scanner"
    },
    {
      "name": "soc"
    },
    {
      "name": "threat-hunting"
    }
  ]
}
